<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

    <!--定义BasicDataSource数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!--指定jdbc驱动-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/news" />
        <property name="username" value="root" />
        <property name="password" value="93139" />
    </bean>

    <!--定义Hibernate的SessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!--将数据源dataSource注入到sessionFactory属性中-->
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <!--设置Hibernate相关属性-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLInnoDBDialect
                </prop>
                <prop key="hibernate.autoReconnect">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/news</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath*:com/yunz/entity/Admin.hbm.xml</value>
                <value>classpath*:com/yunz/entity/Newsinfo.hbm.xml</value>
                <value>classpath*:com/yunz/entity/Topic.hbm.xml</value>
            </list>
        </property>

    </bean>

    <!--声明事务管理器-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!--定义事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!--定义一个切面，并将事务通知与切面组合-->
    <aop:config>
        <!--对com.yunz.biz包下的所有方法都应用事务规则-->
        <aop:pointcut id="bizMethods"
                      expression="execution(* com.yunz.biz.*.*(..))" />
        <!--事务通知与切面组合-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethods" />
    </aop:config>

    <!--定义TopicDAOImpl类-->
    <bean id="topicDAO" class="com.yunz.dao.impl.TopicDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!--定义TopicBizImpl类,并为其属性topicDAO注入值-->
    <bean id="topicBiz" class="com.yunz.biz.impl.TopicBizImpl">
        <property name="topicDAO" ref="topicDAO" />
    </bean>
    <!--定义TopicAction，并为其属性topicBiz注入值-->
    <bean name="topicAction" class="com.yunz.action.TopicAction" scope="prototype">
        <property name="topicBiz" ref="topicBiz" />
    </bean>

    <!--定义NewsinfoDAOImpl类-->
    <bean id="newsinfoDAO" class="com.yunz.dao.impl.NewsinfoDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!--定义NewsinfoBizImpl类,并为其属性newsinfoDAO注入值-->
    <bean id="newsinfoBiz" class="com.yunz.biz.impl.NewsinfoBizImpl">
        <property name="newsinfoDAO" ref="newsinfoDAO" />
    </bean>
    <!--定义NewinfoAction，并为其中属性topicBiz和"newsinfoBiz"注入值-->
    <bean name="newsinfoAction" class="com.yunz.action.NewsinfoAction" scope="prototype">
        <property name="topicBiz" ref="topicBiz" />
        <property name="newsinfoBiz" ref="newsinfoBiz" />
    </bean>

    <!--定义AdminDAOImpl类-->
    <bean id="adminDAO" class="com.yunz.dao.impl.AdminDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!--定义AdminBizImpl类,并为其adminDAO属性注入值-->
    <bean id="adminBiz" class="com.yunz.biz.impl.AdminBizImpl">
        <property name="adminDAO" ref="adminDAO" />
    </bean>
    <!--定义AdminAction，并为其中属性AdminAction注入值-->
    <bean name="adminAction" class="com.yunz.action.AdminAction" scope="prototype">
        <property name="adminBiz" ref="adminBiz" />
    </bean>
</beans>
